* {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;

}

.cabecalho {
    background-color: red;
    border: 1px solid black;
    border-radius: 15px;
    height: 100px;
    width: 100%;
}

.grid {
    display: grid;
    grid-template-columns: repeat(4,1fr);
    gap: 10px; 
    width: 80%;
    margin:  auto;
}

.grid p {
    display: flex;
    flex-wrap: wrap;
    padding: 100px;
    border: 1px solid black;
    border-radius: 20px;
    height: 100px;
   
}

.modal {
    background-color: rgb(190, 50, 50);
    border: 1px solid black;
    border-radius: 15px;
    height: 250px;
}
.rodape {
    background-color: red;
    border: 1px solid black;
    width: 100%;
}